{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<div id='about'>
    <h1>Welcome to Scoreboard!</h1>
    <p>
        This website is to track your scores in videogames!
    </p>
    <h2>Why has this website been created?</h2>
    <p>
        Because when I play videogames against my partner she often forgets by how many point she lost and how many beers she owes me.
    </p>
    <h2>Who is this app for?</h2>
    <p>
        The app is for M&G only. There are no plans to release it to wider audience.
    </p>
</div>
{% endblock %}